@using LeagueOfLegendsChampions.Common
@model LeagueOfLegendsChampions.Web.ViewModels.Champions.ChampionsListViewModel
@{
    this.ViewData["Title"] = "Home Page";
}
@using LeagueOfLegendsChampions.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/loggedHomePageWithChampions.css">
</head>
<body>
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <h1>Choose your champion Summoner!</h1>

        <hr />

        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn" style="color:black">Find Champion</button>
            <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Champion name.." id="myInput" onkeyup="filterFunction()">
                @foreach (var championWithName in this.Model.Champions)
                {
                    <a asp-controller="Champions" asp-action="ById" asp-route-id="@championWithName.Id">@championWithName.Name</a>
                }
            </div>
        </div>

        <hr />

        <div class="row">
            @foreach (var champion in this.Model.Champions)
            {
                <div class="col-md-14">
                    <a asp-controller="Champions" asp-action="ById" asp-route-id="@champion.Id">
                        <img src="@champion.ImageIconUrl" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                        @if (champion.Name == "Nunu & Willump")
                        {
                            <p class="text-center">Nunu</p>
                        }
                        else if (champion.Name == "Miss Fortune")
                        {
                            <p class="text-center">Miss F</p>
                        }
                        else if (champion.Name == "Mordekaiser")
                        {
                            <p class="text-center">Morde</p>
                        }
                        else if (champion.Name == "Aurelion Sol")
                        {
                            <p class="text-center">Aurelion S</p>
                        }
                        else if (champion.Name == "Fiddlesticks")
                        {
                            <p class="text-center">Fiddle</p>
                        }
                        else if (champion.Name == "Twisted Fate")
                        {
                            <p class="text-center">Twisted F</p>
                        }
                        else if (champion.Name == "Tryndamere")
                        {
                            <p class="text-center">Trynd</p>
                        }
                        else
                        {
                            <p class="text-center">@champion.Name</p>
                        }
                    </a>
                </div>
            }
        </div>
        <hr />
        <hr />
        <hr />
    }
    else
    {
        <div class="text-centerForWelcome">
            <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        </div>
        <div class="myButtonOne">
            <a button class="btn btn-light btn-lg" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
        <div class="myButtonTwo">
            <a button class="btn btn-light btn-lg" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    }
</body>

<script src="~/js/loggedHomePage.js" asp-append-version="true"></script>
