@model LeagueOfLegendsChampions.Web.ViewModels.Champions.ChampionInListViewModel;
@{
    ViewData["Title"] = "ById";
}

<hr />
<div class="card mb-3">
    <img class="card-img-top" src="@this.Model.ImageFullSizeUrl" alt="Card image cap" style="border: solid 2px #ffffff">
    <div class="card-body">
        <h3 class="card-title text-center">@this.Model.Name</h3>
        <p class="card-text text-center">@this.Model.Nickname.ToUpper()</p>
    </div>
</div>
<a class="btn btn-outline-white btn-lg btn-block" asp-controller="Builds" asp-action="All" asp-route-id="@this.Model.Id">Builds</a>
<a type="button" class="btn btn-outline-white btn-lg btn-block" asp-controller="Champions" asp-action="Add">Runes</a>
<a class="btn btn-outline-white btn-lg btn-block" asp-controller="Skills" asp-action="All" asp-route-id="@this.Model.Id">Skills</a>
<hr />
<hr />
<hr />
