@model LeagueOfLegendsChampions.Web.ViewModels.Builds.BuildsListViewModel
@{
    ViewData["Title"] = "All";
}

<header>
    <link rel="stylesheet" href="~/css/allBuildsCreatedForCurrChamp.css">
</header>
<body>
    <h2>@this.Model.ChampionName Builds:</h2>

    <hr>
    @foreach (var build in this.Model.Builds)
    {
        <div class="myCurrentBuildName">
            <p1>@build.Name</p1>
        </div>
        <div class="image-text">
            @foreach (var item in build.BuildItems)
            {
                <img src="@item.ItemImageUrl" />
                <p1>@item.ItemName</p1>
            }
        </div>
        <div class="myCreatorName">
            <p4>Creator: @build.User.UserName</p4>
        </div>
        <hr>
    }
    <a type="button" class="btn btn-outline-white btn-lg btn-block" asp-controller="Builds" asp-action="Create" asp-route-id="@this.Model.Id">Create Build +</a>
</body>
