@model LeagueOfLegendsChampions.Web.ViewModels.Builds.BuildInListViewModel;
@{
    ViewData["Title"] = "Create your build:";
}

<header>
    <link rel="stylesheet" href="~/css/createBuild.css">
</header>
<body>

    <form method="post" class="col-md-6 offset-md-3">
        <h2>@this.ViewData["Title"]</h2>
        <hr>
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <div class="myNameNeed">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <hr>
            @{int counter = 0; }
            @foreach (var selectedItem in this.Model.SelectedItems)
            {
                <div class="dropdown">
                    <label class="dropbtn" id="mainButtonLabel_@counter">Item @selectedItem</label>
                    <input asp-for="@Model.SelectedItems[counter]" value="" class="dropbtn" id="mainButton_@counter" hidden />

                    <ul id="items-@selectedItem" name="Item-@selectedItem" class="dropdown-content">
                        @foreach (var item in this.Model.Items)
                        {
                            <li class="dropdown-content-item" onclick="clickItemHandler(@item.Id, @counter)">
                                <img src="@item.ImageUrl" />
                                <p id="itemNameId_@item.Id">@item.Name</p>
                            </li>
                        }
                    </ul>
                </div>

                counter++;
            }
            <hr>
        </div>
        <input type="submit" class="btn btn-outline-white btn-lg btn-block" />
    </form>

    <script src="~/js/creatingBuild.js" asp-append-version="true"></script>
</body>


